<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Guia perguntas!</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h6><%= pergunta.titulo %></h6>                
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %> ">
                        <button class="btn btn-primary">Responder</button>
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>